@media (min-width: 992px) {
    #footbar>.bg-primary {
        background-image: url('../img/corner-solution.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: auto 50%;
    }
}

#footbar a.active {
    text-decoration: underline !important;
    font-family: 'HelveticaNeue Bold';
    pointer-events: none;
}

#footbar .breadcrumb-item {
    color: inherit !important;
}

#footbar .breadcrumb-item + .breadcrumb-item::before {
    color: inherit !important;
    opacity: .5 !important;
}
