.footbar>main>* {
    padding: 2.5em 0;
}

.nav-privacy {
    text-transform: capitalize;
}

.nav-privacy a {
    margin-right: .5em;
}

.nav-privacy a:last-child {
    margin-right: 0;
}

.nav-privacy a::before {
    content: '|';
    margin-right: .5em;
    color: rgba(var(--color-light-rgb), .5);
}

.nav-privacy a:first-child::before {
    display: none;
}

.footbar-sosmed>a {
    margin-right: 1em;
    font-size: 1.875em;
    text-decoration: none !important;
}

.footbar-sosmed>a:last-child {
    margin-right: 0;
}
