.footbar main .desktop {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 35%;
}

@media (min-width: 1200px) {
    .footbar main .desktop {
        background-size: auto 50%;
    }
}

.footbar a.active {
    text-decoration: underline !important;
    font-family: 'HelveticaNeue Bold';
    pointer-events: none;
}

#nav-privacy a {
    margin-right: .5em;
}

#nav-privacy a:last-child {
    margin-right: 0;
}

#nav-privacy a::before {
    content: '|';
    color: rgba(255, 255, 255, .5);
    margin-right: .5em;
}

#nav-privacy a:first-child::before {
    display: none;
}
