:root {
    --color-primary: #842c2d;
    --color-primary-rgb: 132, 44, 45;
    --color-dark: #000000;
    --color-dark-rgb: 0, 0, 0;
    --color-light: #ffffff;
    --color-light-rgb:255, 255, 255;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: var(--color-light);
    color: var(--color-dark);
    font-size: calc(1rem + .125vw);
}

body>header,
body>footer {
    flex-grow: 0;
}

body>main {
    flex-grow: 1;
}

body>main>section {
    margin-bottom: 4rem;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    color: inherit;
    background-color: transparent;
    border-width: 0;
    padding: 0;
}

*::placeholder {
    color: inherit !important;
    opacity: .5 !important;
}

svg {
    fill: currentColor;
    border: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    font-size: 1em;
}

@media (max-width: 767.98px) {
    .container,
    .container-fluid {
        width: 100%;
        max-width: 100%;
        padding-left: 1.125em;
        padding-right: 1.125em;
    }
}

@media (min-width: 768px) {
    .container {
        width: 90%;
        max-width: 100%;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 86%;
        max-width: 100%;
    }
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

.bg-light {
    background-color: var(--color-light) !important;
}

.text-light {
    color: var(--color-light) !important;
}

.form-control,
.btn {
    border-radius: 0;
}
