.page-header button {
   font-size: 1.25em;
}

.page-header {
   padding-top: 1em;
   padding-bottom: 1em;
}

@media (min-width: 992px) {
   .page-header {
      display: grid;
      padding-top: 2em;
      padding-bottom: 2em;
      row-gap: 2em;
   }
}



.navtop {
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   column-gap: 1.5em;
   align-items: center;
}

.navtop>li:last-child {
   text-align: right;
}

.navbrand a {
   display: flex;
}

.navbrand img {
   width: auto;
   height: 48px;
   transition: all .36s ease-in-out;
}

@media (min-width: 992px) {
   .navtop {
      display: flex;
      justify-content: center;
   }

   .navtop>li:first-child,
   .navtop>li:last-child {
      display: none;
   }
}



#sidebar .nav {
   text-transform: capitalize;
   transition: all .36s ease-in-out;
}

#sidebar .nav-link {
   font-size: 1.125em;
}

@media (min-width: 992px) {
   #sidebar .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1.5em;
   }
}

@media (max-width: 991.98px) {
   #sidebar .offcanvas-body {
      padding: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      text-align: center;
   }

   #sidebar .offcanvas-body .nav-link {
      padding: .5em 0;
      display: block;
   }
}



@media (max-width: 991.98px) {
   .scrollTop .page-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: var(--color-white);
      z-index: 1030;
   }

   .scrollTop .navbrand img {
      height: 32px;
   }
}



@media (min-width: 992px) {
   .scrollTop #sidebar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: var(--color-white);
      z-index: 1030;
   }

   .scrollTop #sidebar .nav {
      padding-top: 1em;
      padding-bottom: 1em;
   }
}